#menuprincipal ul {
 margin:0;
 padding:0;
 list-style-type:none;
 text-align:center;
 }

#menuprincipal li {
 float:left;
 margin:auto;
 padding:0;
 background-color:black;
 }

section {
  position: absolute;
  left : 10em;
}

 #form2 {
   position: absolute;
   top: 1.5em;
   right: 0.5em;

 }

#menuprincipal li a {
 display:block;
 width:260px;
 color:white;
 border-right: 1px solid white;
 text-decoration:none;
 padding:5px;
 }
#menuprincipal li a:hover {
 color:#FFD700;
 border-bottom: 2px solid white; padding-bottom: 5px;
 }

 #menuprincipal ul li ul {
  display:none;
  }

#menuprincipal ul li:hover ul {
 display:block;
 }
#menuprincipal li:hover ul li {
 float:none;
 }

 #menuprincipal li ul {
  position:absolute;
  }

div.relative {
      position: relative;
      width: 1347px;
      height: 800px;
      border: 3px solid black;
      top :15em;
      left : 9.5em;
  }
