#menuprincipal ul {
 margin:0;
 padding:0;
 list-style-type:none;
 text-align:center;
 }

#menuprincipal li {
 float:left;
 margin:auto;
 padding:0;
 background-color:black;
 }
#menuprincipal li a {
 display:block;
 width:100px;
 color:white;
 text-decoration:none;
 padding:5px;
 }
#menuprincipal li a:hover {
 color:#FFD700;
 }

 #menuprincipal ul li ul {
  display:none;
  }
